<h1 class="text-center mt-4">Login</h1>

<div class="container">
  
  <div class="row justify-content-center text-center">
    <div class="col-10">
      <%= form_with(scope: :session, url: login_path, local: true) do |f| %>

        <div class="form-group row">
          <%= f.label :email, class: "col-2 col-form-label" %>
          <div class="col-10">
            <%= f.email_field :email, class: "form-control", placeholder: "Enter email" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :password, class: "col-2 col-form-label" %>
          <div class="col-10">
            <%= f.password_field :password, class: "form-control", placeholder: "Enter password" %>
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <%= f.submit "Login", class: "btn btn-outline-success btn-lg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
